extends ../../common/layout/simple.jade

block content
  .row.fullWidth.homeBanner
    .large-6.columns.noGutter.yeti
      img(ng-src='assets/img/stack.png' home-banner)
    .large-6.columns.homeRight
      h3.text-center You made it! ::  
        a(src='https:github.com/jakegibson/generator-frontend-boiler') Repo / Docs
          
      
        
      h4#structure Structure
      .panel
        | index.jade  #bootstrap angular
        br
        | assets/ #images, sass, etc
        br
        | app/  #angular
        br
        | --common/  # modules likely to be reused across many
        br
        | --components/ # modules based on concern
        br
        | &nbsp;&nbsp;|
        br
        | &nbsp;&nbsp;--home/
        br
        |&nbsp;&nbsp;&nbsp;&nbsp; |
        br
        | &nbsp;&nbsp;&nbsp;&nbsp;--index.coffee # bootstraps
        br
        | &nbsp;&nbsp;&nbsp;&nbsp;--controllers.coffee # all controllers for this module go here
        br
        | &nbsp;&nbsp;&nbsp;&nbsp;--services.coffee
        br
        | &nbsp;&nbsp;&nbsp;&nbsp;--factories.coffee
        br
        | &nbsp;&nbsp;&nbsp;&nbsp;--directives.coffee
        br

      h5 To create another component:
      .panel
        | yo frontend-boiler:mod [componentName]
      h5#notes- Notes:
      ol
        li
          | Our gulp file minifies/concatenates our coffee files, but thanks to gulp-ng-annotate you don't have to worry about using the array of string includes, typically required.  Instead of  
          code .controller('anotherCtrl',['$scope','someService', ($scope, someService) -&gt;
          |   we only need 
          code .controller('anotherCtrl', ($scope, someService) -&gt;
        li Livereload is setup so no reloading/refreshing 
      
  




  

